<!DOCTYPE html>
<html>
<head>
  <title>SecretSanta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'></head>
<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
<body>
    <div class="banner">
      Secret Santa
    </div>
    <% if logged_in? %>
      <div class="navbar">
        <nav class="navbar navbar-default">
          <ul class="nav nav-pills">
            <li class="logout"><%= button_to "Log Out", sessions_url, method: :delete %></li>
            <li><a href="<%= users_url %>">Home</a></li>
            <li><a href="#">My Secret Santa</a></li>
            <li><a href="<%= edit_user_url(current_user) %>">My Profile</a></li>
          </ul>
        </nav>
      </div>
      <main class="content">
      <p class="current_user">Hi <%= current_user.name %>!</p>
    <% else %>
      <main class="content">
    <% end %>

  <div class="container">
    <p class="errors"><%= render "layouts/errors" %></p>
    <%= yield %>
  </div>
  </main>

</body>
</html>
