<!DOCTYPE html>
<html>
<head>
  <title>SecretSnowman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'></head>
  <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="banner">
      Secret Snowman
    </div>
    <% if logged_in? %>
      <div class="navbar">
        <nav class="navbar navbar-default">
          <ul class="nav nav-pills">
            <li class="logout"><%= button_to "Log Out", session_url, method: :delete, class: "log-out" %></li>
            <li><a class="<%= params[:action] == "index" && !params[:user_id] ? "active" : "" %>" href="<%= users_url %>">Home</a></li>

            <% if current_user.secretsnowman_id %>
            <%    url = user_secretsnowman_url(current_user[:id], current_user[:secretsnowman_id]) %>
            <% else %>
            <%    url = user_secretsnowman_index_url(current_user[:id]) %>
            <% end %>

            <li><a class="<%= params[:user_id] ? "active" : "" %>" href="<%= url %>">My Secret Snowman</a></li>
            <li><a class="<%= params[:action] == "edit" ? "active" : "" %>"href="<%= edit_user_url(current_user) %>">My Profile</a></li>
          </ul>
        </nav>
      </div>
    <main class="content">
      <p class="current_user">Hi <%= current_user.name %>!</p>
    <% else %>
    <main class="content">
    <% end %>

    <div class="container slider">
      <p class="errors"><%= render "layouts/errors" %></p>
      <%= yield %>
    </div>
  </main>
</body>
</html>
